@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .menu {
    @apply flex text-left sm:space-x-0 text-xl sm:text-lg translate-x-full ease-in-out duration-500
    sm:translate-x-0 py-4 pl-12
  }
  .menu li {
    @apply cursor-pointer pl-6 md:pl-12 text-slate-500 active:text-orange-600
  }
  .header {
    @apply flex items-center justify-between mb-8
  }
  .main-menu-toggle {
    @apply hidden
  }
  .shade-effect {
    @apply fixed block sm:hidden min-h-screen min-w-full inset-0 bg-black/50 brightness-95 z-10
  }
}

@media (max-width: 639px) {
    .menu {
      position: fixed;
      inset: 0 0 0 30%;
      background-color: rgba(255, 255, 255);
      flex-direction: column;
      padding: min(30vh, 10rem) 2em;
      gap: 2em;
      z-index: 88;
    }
    .main-menu-toggle {
      display: block;
      position: absolute;
      width: 2rem;
      aspect-ratio: 1;
      right: 2rem;
      z-index: 99;
    }
  }