@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .menu {
    @apply flex text-left sm:space-x-4 text-xl translate-x-full ease-in-out duration-500
    sm:translate-x-0 py-4 px-6
  }
  .menu li {
    @apply cursor-pointer px-4 text-slate-500 active:text-orange-600
  }
  .header {
    @apply flex items-center justify-between
  }
  .main-menu-toggle {
    @apply hidden
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 639px) {
  .menu {
    position: fixed;
    inset: 0 0 0 30%;
    background-color: rgba(255, 255, 255);
    flex-direction: column;
    padding: min(30vh, 10rem) 2em;
    gap: 2em;
    z-index: 88;
    /* transform: translateX(100%); */
  }
  .main-menu-toggle {
    display: block;
    position: absolute;
    width: 2rem;
    aspect-ratio: 1;
    right: 2rem;
    z-index: 99;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
